@media (max-width: 1439px) {
    .container {
        width: 1200px;
    }
    .home .socBlock {
        display: none;
    }
    .textFon {
        display: none;
    }
    .control2 ul {
        display: none;
    }
    .rightBlock .cabHeader .upBlock .socBlock {
        margin-top: -35px;
        margin-right: 187px;
    }
    .rightBlock .control2 .contr2 {
        display: block;

    }
    .rightBlock .control2 .contr2 select{
        width: 241px;
        height: 60px;
        font-size: 30px;
        font-family: Monda;
        font-weight: bold;
        color: #f3f7ff;
        background-color: #012c7a;
        border: none;
    }
    .deposit {
        /*float: none;*/
        margin-right: 70px;
        margin-top: 30px;
        padding-right: 1px;
    }
    .icon-33 {
        margin-left: 30px;
    }
    .deposit .balance span {
        padding-right: 40px;
    }
    .content2 .referral2 {
        margin-left: 43px;
        margin-bottom: 40px;
    }
    .content2 .invest {
        margin-left: 43px;
    }
}
@media (max-width: 1199px) {
    .container {
        width: 950px;
    }

    .control li + li {
        margin-left: 45px;
    }

    .home .infoCost [class*="icon"] {
        display: none;
    }

    .home .infoCost li {
        margin-left: 35px;
    }

    .investPlan .plans li [class*="icon"] {
        display: none;
    }

    .investPlan .plans li {
        padding-left: 85px;
    }

    .royalPlan .captionWhite {
        padding-left: 290px;
    }

    .content .investPlan .royalPlan .backImg {
        left: 864px;
    }

    .royalPlan .profit div {
        margin-right: 17px;
    }

    .royalPlan .profit {
    padding-left: 40px;
    }
    .royalPlan .calculator {
        margin-left: -130px;
    }
    .royalPlan .summ {
        margin-left: -120px;
    }
    .videoPage .video {
        width: 900px;
        height: 650px;
    }
    .statistics .statList2 {
        padding-left: 217px;
    }
    .referral {
        display: none;
    }
    .partners .logo li:nth-child(5) {
        display: none;
    }
    footer .logo img {
        left: 76px;
    }
    .rightBlock .cabHeader .upBlock .socBlock {
        margin-right: 50px;
    }
    .rightBlock .deposit {
        display: none;
    }
}
@media (max-width: 991px) {
    .container {
        width: 750px;
    }
    header .time1 {
        display: none;
    }
    .control a {
        font-size: 17px;
    }
    .control li {
        padding-top: 30px;
    }
    .control li + li {
        margin-left: 90px;
    }
    .home .infoBlock {
        margin-top: 100px;
    }
    .home .captionWhite1 {
        font-size: 100px;
    }
    .home .infoBlock p {
        display: block;
        width: 500px;

    }
    .content .home .btnRed {
        margin-top: 58px;
        margin-left: 20px;
    }
    .content .home .infoCost {
        margin-left: 124px;
    }
    .aboutUs .captionBlue {
        font-size: 35px;
    }
    .aboutUs .right {
        display: block;
        width: 450px;
    }
    .infoCompany .left {
        width: 220px;
    }
    .aboutUs .right .text .text1 {
        margin-top: 15px;
    }
    .aboutUs .right .text .text2 {
        margin-top: 10px;
    }
    .content .investPlan .backImg {
        width: 2853px;
    }
    .investPlan .plans li+li {
        margin-left: -63px;
    }
    .investPlan .plans li {
        padding-left: 64px;
    }
    .royalPlan .captionWhite {
        padding-left: 210px;
    }
    .royalPlan .profit .part3 {
        display: none;
    }
    .royalPlan .profit .part4 {
        display: none;
    }
    .content .investPlan .royalPlan .backImg {
        left: 700px;
    }
    .royalPlan .profit {
        padding-left: 134px;
    }
    .calculator .calc .selectBlock select {
        width: 230px;
    }
    .calculator .calc .inputBlock2 input {
        width: 230px;
    }
    .investPlan .valueRangeBlock {
        margin-left: 445px;
        margin-top: 18px;
    }
    .investPlan .summ span {
        line-height: 0;
        margin-left: 380px;
    }
    .videoPage .video {
        width: 775px;
        height: 400px;
    }
    .videoPage .backImg {
        height: 1100px;
    }
    .statistics .statList {
        margin-left: 0;
    }
    .statistics .statList1 li:nth-child(3) {
        padding-left: 150px;
    }
    .statistics .statList2 {
        padding-left: 54px;
    }
    footer .contact .logo {
        display: none;
    }
    footer .contact a {
        font-size: 25px;
    }
    footer .contact .leftFooter span {
        font-size: 20px;
    }
    footer .contact .rightFooter span {
        font-size: 20px;
    }
    .rightBlock .cabHeader .fonUserBlock .userBlock {
        padding-left: 23px;
    }
    .rightBlock .cost li {
        margin-left: 150px;
    }
    .rightBlock .cabHeader .upBlock .socBlock {
        display: none;
    }
    .content2 .referral2 {
        width: 480px;
    }
    .content2 .referral2 input {
        width: 350px;
    }
    .content2 .upline {
        width: 480px;
    }
    .content2 .invest {
        width: 480px;
    }
    .content2 .text .summ {
        width: 350px;
    }
    .content2 .withdrawal {
        width: 480px;
    }

}
@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    header .register {
        display: block;
        position: absolute;
        right: -40px;
    }
    header .control {
        display: none;
    }
    header .selectControl {
        display: block;
        margin-top: 60px;
        margin-left: 50px;
    }
    header .selectControl select {
        width: 380px;
        height: 40px;
        font-family: Monda;
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        background-color: #2b7fed;
        border: none;
    }
    .home .captionWhite1 {
        font-size: 80px;
    }
    .infoBlock p {
        margin-top: 40px;
        width: 402px;
    }
    .home .infoBlock p {
        width: 402px;
    }
    .content .home .infoCost {
        margin-left: 30px;
    }
    .content .home .infoCost ul li:nth-child(3) {
        display: none;
    }
    .infoCompany .link a {
        line-height: 60px;
        margin-left: 60px;
    }
    .aboutUs {
        padding-top: 80px;
        padding-bottom: 73px;
    }
    .aboutUs .infoCompany .btnBlue {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .investPlan {
        display: none;
    }
    .videoPage .video {
        width: 450px;
        height: 270px;
        margin-top: 70px;
    }

    .statList {
        margin-top: 60px;
    }
    .videoPage .backImg {
        height: 640px;
    }
    .statistics .statList1 li:nth-child(3) {
        margin-left: -70px;
    }
    .usersBlock .user:nth-child(1) {
        width: 100%;
        margin-left: 38px;
    }
    .usersBlock .user:nth-child(2) {
        float: none;
        width: 100%;
    }
    .videoPage .captionBlue {
        padding-top: 1px;
    }
    .partners .logo li:nth-child(3) {
        display: none;
    }
    .partners .logo li:nth-child(4) {
        display: none;
    }
    .partners .logo li:nth-child(5) {
        display: none;
    }
    footer .leftFooter {
        padding-top: 30px;
        font-size: 10px;
    }
    footer .contact .leftFooter span {
        font-size: 14px;
    }
    footer .contact a {
        font-size: 14px;
    }
    footer .rightFooter {
        padding-top: 15px;
    }
    footer .contact .rightFooter span {
        font-size: 14px;
    }
    footer .control {
        display: none;
    }
    .leftBlock {
        display: none;
    }
    .rightBlock {
        width: 100%;
    }
    .rightBlock .cost li {
        margin-left: 124px;
    }
    .rightBlock .control2 .contr2 select {
        width: 245px;
        margin-top: 30px;
    }
    .rightBlock .naviSelect select {
        display: block;
        position: absolute;
        left: 255px;
        top: 140px;
        width: 230px;
        height: 60px;
        font-size: 30px;
        font-family: Monda;
        font-weight: bold;
        color: #f3f7ff;
        background-color: #012c7a;
        border: none;
    }
    .cabHeader .userBlock .user {
        width: 440px;
    }
    .rightBlock .cabHeader .userBlock .user .infoUser li:nth-child(3) {
        display: none;
    }
    .content2 .referral2 {
        margin-left: 6px;
    }
    .content2 .upline {
        margin-left: 6px;
    }
    .content2 .invest {
        margin-left: 6px;
    }
    .content2 .withdrawal {
        margin-left: 6px;
    }
    .content2 h1 {
        padding-left: 108px;
    }

}

@media (max-width: 479px) {
    .container {
        width: 100%;
    }
    header .topLine .logo {
        display: block;
        position: absolute;
        margin-left: 30px;
    }
    header .topLine .register {
        margin-top: 98px;
        right: 54px;
    }
    .control ul {
        display: none !important;
    }
    header .selectControl select {
        background-color: #2b7fed;
        width: 250px;
        height: 35px;
        border: 1px solid #2f7bde;
        margin-left: -12px;
        margin-top: 131px;
        color: #ffffff;
    }
    header .selectControl option {
        color: #ffffff;
    }
    .home .captionWhite1 {
        font-size: 60px;
    }
    .home .captionWhite1 span {
        font-size: 40px;
    }
    .home .infoBlock p{
        font-size: 14px;
        width: 330px;
        margin-top: 20px;
    }
    .home .infoBlock p br {
        display: none;
    }
    .home .infoCost {
        display: none;
    }
    .aboutUs {
        padding-left: 30px;
        padding-bottom: 133px;
    }
    .aboutUs .infoCompany .btnBlue {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .infoCompany .link a {
        line-height: 60px;
    }
    .aboutUs .right .text {
        width: 300px;
        margin-left: 140px;
    }
    .aboutUs .right .captionBlue {
        font-size: 30px;
    }
    .content .investPlan {
        display: none;
    }
    .content .statistics {
        display: none;
    }
    .content .users {
        display: none;
    }
    .videoPage .captionBlue {
        font-size: 30px;
        padding-top: 5px;
    }
    .videoPage .video {
        margin-top: 10px;
        margin-bottom: 50px;
        width: 300px;
        height: 200px;
    }
    .partners .backImg {
        margin-left: -1311px;
    }
    footer .leftFooter {
        padding-top: 30px;
        font-size: 10px;
    }
    footer .contact .leftFooter span {
        font-size: 14px;
    }
    footer .contact a {
        font-size: 14px;
    }
    footer .rightFooter {
        padding-top: 0px;
    }
    footer .contact .rightFooter span {
        font-size: 14px;
    }
    .rightBlock .control2 .contr2 select {
        margin-left: 30px;
        margin-bottom: 100px;
    }
    .rightBlock .naviSelect select {
        left: 32px;
        top: 226px;
        width: 242px;
    }
    .cabHeader .userBlock .user {
        width: 290px;
    }
    .rightBlock .cabHeader .userBlock .user .infoUser li:nth-child(2) {
        display: none;
    }
    .rightBlock .cabHeader .fonUserBlock .userBlock {
        padding-left: 38px;
    }
    .content2 h1 {
        padding-left: 43px;
    }
    .content2 .referral2 {
        width: 350px;
        height: 205px;
    }
    .content2 .title {
        margin-left: 15px;
    }
    .content2 .referral2 .inputBlock1 {
        margin-left: 10px;
    }
    .content2 .referral2 input {
        width: 330px;
    }
    .content2 .upline {
        width: 350px;
        height: 205px;
    }
    .upline .user {
        margin-left: 45px;
    }
    .content2 .invest {
        width: 350px;
        height: 205px;
    }
    .rightBlock .content2 .text .summ span:nth-child(2) {
        line-height: 40px;
    }
    .rightBlock .content2 .text .summ span:nth-child(1) {
        line-height: 40px;
    }
    .content2 .text .summ {
        margin-left: 25px;
    }
    .content2 .text .summ {
        width: 240px;
    }


}





