* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family: "Brutal Type";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.bodyWrap {
    overflow: hidden;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}
.invisLink {
    position: relative;
    z-index: 1;
}

[class*="btn"] {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
[class*="btn"]:hover {
    opacity: 0.7;
}
a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
a:hover {
    opacity: 0.7;
}
.control a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;

}
.control a:hover {
    color: #f12f77;
}
.control2 a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;

}
.control2 a:hover {
    color: #f12f77;
}
.control a.activ::before{
    content: '';
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-bottom: 9px solid #f12f77;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
/*.videoPage .map {*/
    /*width: 350px;*/
    /*height: 350px;*/
/*}*/
/*.aboutUs .map iframe {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*top: 0px;*/
    /*left: 0px;*/
/*}*/
header {
    position: relative;
    z-index: 1;
}
.content .home {
    position: relative;
    z-index: 1;
}
header .backImg {
    position: absolute;
    z-index: -1;
    background-color: #eaeff9;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 985px;
    background-position: center;
    background-repeat: no-repeat;
}
header .time1 {
    position: relative;
    width: 295px;
    height: 51px;
    background-color: #2f7bde;
}
header .time1::before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 20px solid #1d5cb8;
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
}
header .time1::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-left: 20px solid #2f7bde;
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
}
header .time1 .icon-11 {
    margin-left: -3px;
}
header .time1>span {
    font-size: 35px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-right: 30px;
}

header .time1 .icon-50 {
    position: absolute;
    z-index: 2;
    font-size: 58px;
    line-height: 52px;
    color: #1d5cb8;
    left: -20px;
    top: 0px;

}
header .time1 [class*="icon-11"] {
    font-size: 22px;
    position: relative;
    z-index: 3;
}
header .time1 .date {
    display: inline-block;
}
header .date span:first-child {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
}
header .date span:last-child {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #ffffff;
}
header .register {
    float: right;
}
header .time1 {
    float: right;
    margin-right: 70px;
}
header .register {
    position: relative;
    width: 249px;
    height: 51px;
    background-color: rgba(1, 44, 124, 0.3);
}
header .register::before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 20px solid rgba(1, 44, 124, 0.3);
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
}
header .register::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-left: 20px solid rgba(1, 44, 124, 0.3);
    border-top: 25px solid transparent;
    border-bottom: 26px solid transparent;
}
header .register li {
    display: inline-block;
    margin-right: 40px;
}

header .register [class*="icon"] {
    font-size: 13px;
    line-height: 13px;
    color: #89b4f4;
    margin-right: 7px  ;
}
header .register a {
    font-size: 13px;
    line-height: 51px;
    color: #ffffff;
    letter-spacing: 0.1em;
    text-decoration: none;
}
header .logo {
    position: relative;
    padding-left: 73px;
    width: 255px;
    float: left;
    margin-top: -17px;
}
header .logo img {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -16px;
    margin-left: 10px;
    width: 55px;
    height: 50px;
}
.invisLink>a {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
.content {
    z-index: 1;
}
.logoText {
    font-size: 37px;
    font-family: Monda;
    font-weight: bold;
    color: #ffffff;
}
.logoText2 {
    font-size: 13px;
    line-height: 1px;
    font-family: Monda;
    letter-spacing: 0.33em;
    color: #ffffff;
}
header .logo .txt span {
    display: block;
}

header .topLine {
    padding-top: 51px;
}

.control a {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.content .home .socBlock {
    position: absolute;
    text-transform: uppercase;
    top: 200px;
    left: calc((((100vw - 1200px) / 2) / 2) - 30px)
}
.content .home .socBlock > span {
    top: -125px;
    transform: rotate(-90deg);
    position: absolute;
    width: 210px;
    left: -132px;
    text-transform: uppercase;
}
header .selectControl {
    display: none;
}
.content .home .socBlock span {
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0.05em;
    font-weight: bold;
    color: #2f7bde;
    display: block;
    padding-top: 70px;
}
.content .home .socBlock a {
    text-decoration: none;
}
.content .home .socBlock a>span:nth-child(1) {
     color: #ffffff;
     position: relative;
     z-index: 1;
 }

.content .home .socBlock [class*="icon-50"] {
    position: absolute;
    font-size: 60px;
    color: #2f7bde;
    z-index: -1;
    left: -19px;
    top: 0px;
}
.control li {
    display: inline-block;
    padding-top: 72px;
}
.control ul {
    margin-left: 10px;
}
.control li+li {
    margin-left: 76px;
}
.captionWhite1 {
    font-size: 133px;
    font-family: Monda;
    line-height: 62px;
    font-weight: bold;
    color: #ffffff;
}
.home .infoBlock {
    margin-top: 163px;
}

.captionWhite1 span {
    font-size: 70px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 35px;
}
.infoCompany .left {
    width: 425px;
    float: left;
}
.infoCompany .right {
    width: calc(100% - 425px);
    float: right;
}
.infoBlock p {
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.025mm;
    font-weight: 300;
    color: #96c2ff;
    margin-top:  80px;
}
.content .home  .btnRed {
    margin-top: 92px;
}
.icon-50 {
    position: absolute;
    z-index: 1;
    font-size: 74px;
    line-height: 65px;
    color: #e43981;
    top: 0px;
    right: -20px;
}
.icon-14 {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 25px;
}
.btnRed a {
    font-size: 16px;
    line-height: 65px;
    font-weight: bold;
    font-family: monda;
    text-decoration: none;
    color: #ffffff;
    padding-left: 60px;
}

.btnRed {
    display: block;
    position: relative;
    width: 260px;
    height: 65px;
    background-color: #e0186c;
    border: none;
}
[class*="btnRed"]::before {
     content: "";
     display: block;
     position: absolute;
     right: 100%;
     top: 0;
     width: 0;
     height: 0;
     border-right: 20px solid #e0186c;
     border-top: 32px solid transparent;
     border-bottom: 33px solid transparent;
 }
[class*="btnRed"]::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-left: 20px solid #e0186c;
    border-top: 32px solid transparent;
    border-bottom: 33px solid transparent;
}
[class*="btnBlue"]::before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-right: 19px solid #2f7bde;
    border-top: 26px solid transparent;
    border-bottom: 27px solid transparent;
}
[class*="btnBlue"]::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0px;
    width: 0px;
    height: 0px;
    border-left: 19px solid #2f7bde;
    border-top: 26px solid transparent;
    border-bottom: 27px solid transparent;
}
.right h3 {
    font-size: 40px;
    font-family: Monda;
    line-height: 50px;
    color: #d9e1f4;
}
.content .home .infoCost {
    margin-left: 202px;
    margin-top: 48px;
}
.infoCost .infoCost span {
    display: block;
}
.infoCost .infoCost span+span+span {
    display: inline-block;
}
.infoCost .infoCost li {
    float: left;
    position: relative;
    margin-left: 140px;
}
.infoCost li div [class*="icon"] {
    position: absolute;
    font-size: 40px;
    top: 30px;
    left: -50px;
}

.content .home .infoCost .icon-15 {
     margin-left: -24px;
    z-index: 1;
 }
.content .home .infoCost .icon-16 {
    margin-left: -24px;
    z-index: 1;
}
.content .home .infoCost .icon-17 {
    margin-left: -24px;
    z-index: 1;
}
.content .home .infoCost .icon-50 {
    position: absolute;
    z-index: 0;
    color: #ffffff;
    font-size: 86px;
    margin-left: -45px;
    top: 10px;
    filter: drop-shadow(21px 21px 21px rgba(136, 163, 221, 0.33));
}
.infoCost .styleCost  {
    font-size: 30px;
    color: #012c7a;
}
.infoCost .btc {
    font-size: 16px;
    line-height: 33px;
    color: #012c7a;
}
.infoCost .sum {
    font-size: 20px;
    line-height: 33px;
    font-weight: bold;
    color: #012c7a;
}
.infoCost .proc {
    font-size: 16px;
    line-height: 33px;
    font-weight: bold;
    color: #4194ff;
}
.icon-21 {
    font-size: 13px;
    line-height: 33px;
    font-weight: bold;
    color: #4194ff;
}
/*БЛОК ABOUTUS*/

.aboutUs .right h3 {
    top: 580px;
    transform: rotate(90deg);
    position: absolute;
    width: 800px;
    left: 1300px;
    text-transform: uppercase;
}
.aboutUs {
    background-color: #eaeff9;
    position: relative;
    padding-top: 150px;
    padding-bottom: 300px;
}
.infoCompany {
    margin-top: 72px;

}
.infoCompany .link a {
    font-size: 16px;
    font-family: Monda;
    letter-spacing: 0.025em;
    line-height: 110px;
    font-weight: bold;
    text-decoration: none;
    color: #0349c6;
    margin-left: 50px;
}
.aboutUs .infoCompany .btnBlue {
    margin-left: 42px;
    margin-top: 108px;
}
.captionBlue {
    font-size: 50px;
    font-family: Monda;
    line-height: 50px;
    font-weight: bold;
    color: #0349c6;
}
.text1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #012c7a;
    margin-top: 58px;
}
.text2 {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    margin-top: 32px;
}

/*СТРАНИЦА ИНВЕСТ ПЛАН*/
.content .investPlan {
    position: relative;
    z-index: 2;
    background-color: #eaeff9;
}
.content .investPlan .backImg {
    position: absolute;
    z-index: -2;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1122px;
    top: -191px;
    background-position: center;
    background-repeat: no-repeat;
}
.investPlan .plans .plan {
    font-size: 20px;
    font-family: Monda;
    line-height: 25px;
    font-weight: bold;
    color: #0349c6;
}
.investPlan .plans .daily {
    font-size: 35px;
    font-family: Monda;
    letter-spacing: -0.05em;
    line-height: 40px;
    font-weight: bold;
    color: #e0186c;
}
.investPlan .plans .days {
    font-size: 13px;
    line-height: 24px;
    font-family: Monda;
    letter-spacing: 0.25em;
    color: #e0186c;
}
.investPlan .plans a {
    text-decoration: none;
}
.investPlan .plans .text span {
    display: block;
}

.investPlan .plans li {
    float: left;
    padding-left: 165px;
    width: 33.3333%;
    position: relative;
}
.investPlan .plans li [class*="icon"] {
    font-size: 65px;
    display: block;
    position: absolute;
    top: 11px;
    left: 86px;
}
.investPlan {
    position: relative;
}
.investPlan .plans {
    position: relative;
    top: -154px;
    margin-bottom: -87px;
}
.captionWhite {
    font-size: 50px;
    font-family: Monda;
    line-height: 58px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 427px;
}
.royalPlan .captionWhite {
    padding-top: 75px;
}
.royalPlan .profit {
    padding-left: 65px;
    padding-top: 110px;
}
.royalPlan .part1 .a1 {
    font-size: 15px;
    line-height: 50px;
    font-weight: 300;
    color: #96c2ff;
}
.royalPlan .part1 .a2 {
    font-size: 15px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
}
.royalPlan .profit .a3 {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    color: #ffffff;
}
.royalPlan .profit .a4 {
    font-size: 27px;
    line-height: 33px;
    font-weight: bold;
    color: #2b7fed;
}
.royalPlan .profit .part1>span {
    display: block;
}
.royalPlan .profit .part2>span {
    display: block;
}
.royalPlan .profit .part3>span {
    display: block;
}
.royalPlan .profit .part4>span {
    display: block;
}
.profit .part2 span:nth-child(4) {
    color: #ffffff;
}
.royalPlan .profit .a5 {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    color: #96c2ff;
}
.royalPlan .profit .a6 {
    font-size: 90px;
    line-height: 90px;
    font-weight: bold;
    color: #e0186c;
}
.royalPlan .profit .a7 {
    font-size: 90px;
    line-height: 90px;
    font-weight: bold;
    color: #2b7fed;
}
.royalPlan .profit div {
    display: inline-block;
    margin-right: 60px;

}
.calculator label {
    font-size: 15px;
    line-height: 36px;
    display: block;
    color: #96c2ff;
}

.investPlan .summ span {
    font-size: 50px;
    line-height: 91px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 480px;
}
.content .investPlan .royalPlan {
    position: relative;
}
.content .investPlan .royalPlan .backImg {
    position: absolute;
    width: 1200px;
    height: 210px;
    top: 220px;
    left: 950px;
}
.investPlan .valueRangeBlock {
    margin-left: 520px;
    margin-bottom: 54px;
    margin-top: 64px;

}
.calculator .calc {
    margin-left: 274px;
    margin-top: 109px;
}
.content .investPlan .btnRed {
    margin-top: 38px;
}
.calculator .calc .inputBlock2 {
    position: relative;
    float: left;
    margin-right: 30px;
    text-align: center;
}
.calculator .calc .inputBlock2 input {
     width: 300px;
     height: 55px;
     border: 1px solid #3168cb;
    background-color: #0b46ab;
    color: #ffffff;
 }
.calculator .calc .inputBlock2 .icon {
    position: absolute;
    color: #ffffff;
    line-height: 55px;
    right: 15px;
    bottom: 0px;
}
.calculator .calc .selectBlock select {
    width: 300px;
    height: 55px;
    border: 1px solid #3168cb;
    background-color: #0b46ab;
    color: #ffffff;
    font-size: 17px;
    letter-spacing: 0.05em;
}
.royalPlan .btnRed {
    margin: 0px auto;

}
.left h3 {
    font-size: 50px;
    line-height: 84px;
    font-weight: bold;
    color: #d9e1f4;
}
.videoPage {
    position: relative;
    z-index: 1;
}
.videoPage .left h3 {
    top: 530px;
    transform: rotate(-90deg);
    position: absolute;
    width: 800px;
    left: -150px;
    text-transform: uppercase;
}
.videoPage .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1330px;
    top: -135px;
    background-position: center;
    background-repeat: no-repeat;
}
.videoPage .captionBlue {
    font-size: 50px;
    font-family: Monda;
    line-height: 50px;
    font-weight: bold;
    color: #0349c6;
    margin-left: 8px;
    padding-top: 100px;

}
.videoPage .video {
    width: 1145px;
    height: 720px;
    border: 11px solid #ffffff;
    margin-top: 110px;
}
.statistics {
    position: relative;
    z-index: 1;
}
.statistics .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 680px;
    top: -166px;
    background-position: center;
    background-repeat: no-repeat;
}
.statList {
    margin-top: 332px;
    margin-left: -56px;
}
.statList .a1 {
    font-size: 25px;
    line-height: 70px;
    font-weight: bold;
    color: #061046;
    text-align: center;
    width: 215px;
    position: relative;
}
.statList .a1::before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: -100px;
    width: 0px;
    height: 0px;
    border-right: 30px solid #ffffff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.statList .a1::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: -100px;
    width: 0px;
    height: 0px;
    border-left: 30px solid #ffffff;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}
.statList .a2 {
    font-size: 45px;
    line-height: 100px;
    font-weight: bold;
    color: #0349c6;
    text-align: center;
    background-color: #fff;
    box-shadow: 21px 21px 61px rgba(0,0,0,0.33);
    width: 215px;
}
.statList .a3 {
    font-size: 45px;
    line-height: 100px;
    font-weight: bold;
    color: #4194ff;
    text-align: center;
    box-shadow: 21px 21px 61px rgba(0,0,0,0.33);;
}


.statList .a4 {
    font-size: 45px;
    line-height: 100px;
    font-weight: bold;
    color: #de1c6e;
    text-align: center;
    box-shadow: 21px 21px 61px rgba(0,0,0,0.33);
}
.statList .icon-20 {
    color: #1153c9;
    text-align: center;
}
#icon20Blue {
    color: #4194ff;
}
#icon20Red {
    color: #de1c6e;
}
.statistics .statList span {
    display: block;
}
.statistics .statList1 li {
    display: inline-block;
    margin-left: 80px;
}
.statistics .statList1 {
    padding-left: 15px;
    padding-top: 15px;
}
.statistics .statList2 li {
    display: inline-block;
    margin-left: 65px;
    margin-bottom: 90px;
}
.statistics .statList2 {
    padding-left: 634px;
    padding-top: 37px;
}
.statList1 [class*="icon"] {
    text-align: center;
}

.users {
    background-color: #eaeff9;
    position: relative;
    z-index: 1;
    padding-bottom: 50px;
}
.users .right h3 {
    top: 480px;
    transform: rotate(90deg);
    position: absolute;
    width: 800px;
    left: 1300px;
    text-transform: uppercase;
}
.usersBlock .user {
    width: 50%;
    float: left;
}
.users .captionBlue {
    font-size: 50px;
    font-family: Monda;
    line-height: 91px;
    font-weight: bold;
    color: #0349c6;
    padding-top: 79px;
}
.usersBlock .user:nth-child(1){
    padding-right: 37px;
}
.usersBlock .user:nth-child(2){
    padding-left: 37px;
}
.usersBlock .user .user1 {
    display: table;
    width: 100%;
}
.usersBlock .user .user1 li {
    display: table-row;
    height: 20px;
}
.usersBlock .user .user1 li + li {
    background-image: url(../img/png/border.png);
    background-repeat: repeat-x;
    background-position: left top;
}
.usersBlock .user .user1 li span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.usersBlock .user:nth-child(2) li span:nth-child(4){
    color: #de1c6e;
}

.users .btnBlue {
    margin: 80px auto 0 ;
    width: 137px;
    text-align: center;

}
.users .usersBlock {
    padding-top: 44px;
}
.usersBlock .user span:nth-child(1) {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: #061046;
}
.usersBlock .user span:nth-child(2) {
    font-size: 14px;
    line-height: 50px;
    color: #91a8ce;
}
.usersBlock .user .user1 span:nth-child(4) {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: #4194ff;
}
.usersBlock .user .user2 span:nth-child(4) {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: #e0186c;
}
.icon-22 {
    color: #de1c6e;
}

.referral {
    position: relative;
    z-index: 1;
    /*background-color: #eaeff9;*/
}
.referral .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -939px;
    width: 1920px;
    height: 770px;
    background-position: center;
    background-repeat: no-repeat;
    top: -67px;
}
.referral .rate {
    position: relative;
}
.referral .rate .styleRate {
    position: absolute;
    width: 520px;
    height: 313px;
    top: -115px;
    left: 330px;
}
.referral h1 {
    padding-top: 74px;
}
.referral .info p {
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    padding-top: 68px;
}
.referral .rate {
    margin-top: 140px;
}
.referral .btnRed {
    margin: 172px auto ;
}
.referral .rate p {
    font-size: 16px;
    line-height: 30px;
    color: #70aeff;
}
.referral .rate span {
    font-size: 120px;
    line-height: 84px;
    font-weight: bold;
    color: #70aeff;
}
.referral .rate span > span {
    font-size: 0.5em;
    vertical-align: top;
    display: inline-block;
    margin-top: -17px;
}
.referral .rate li{
    float: left;
}
.referral .rate li:nth-child(2) {
    margin-left: 140px;
}
.referral .rate li:nth-child(3) {
    padding-left: 180px;
}
.referral .rate li:nth-child(4) {
    float: right;
}

.content .news {
    position: relative;
    z-index: 1;
}
.content .news .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
}

.news h3 a {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    color: #061046;
    text-decoration: none;
}
.icon-23 {
    color: #e0186c;
}
.news .newsBlock .news span:nth-child(3) {
    font-size: 13px;
    line-height: 84px;
    color: #739cdd;
}
.news p {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}
.partners .logo {
    display: table;
    width: 100%;
}
.partners .logo .logo li {
    display: table-cell;
    height: 290px;
    text-align: center;
    vertical-align: middle;
}
.contact .leftFooter span {
    display: block;
}
.contact .rightFooter span{
    display: block;
}
.partners {
    position: relative;
    z-index: 1;
}
.partners .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -978px;
    width: 1920px;
    height: 772px;
    background-position: center;
    background-repeat: no-repeat;
}
footer {
    position: relative;
    z-index: 1;
}
footer .contact>div {
    display: table-cell;
    width: 1920px;
    vertical-align: middle;
}
footer .leftFooter {
    text-align: left;
    padding-top: 97px;
}
footer .rightFooter {
    text-align: right;
    padding-top: 97px;
}
footer .contact .logo .txt span {
    display: block;
}
footer .contact .logo .txt {
    margin-top: 60px;
}
footer .logo {
    text-align: center;
    position: relative;
    padding-top: 60px;
}
footer .logo img {
    width: 120px;
    height: 104px;
    position: absolute;
    top: 10px;
    right: 120px;
}

footer .contact a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
footer .contact .leftFooter span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
}
footer .contact .rightFooter span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
}
footer .copyright p {
    font-size: 15px;
    line-height: 30px;
    color: #96c2ff;
    padding-top: 55px;
}

footer .contact {
    display: block;
}
footer .control {
    margin-bottom: 37px;
    margin-top: 30px;
}
/*ВТОРАЯ СТРАНИЦА ДИПЛОМНОГО ПРОЕКТА*/
.rightBlock .control2 .contr2 {
    display: none;
}
.rightBlock .control2 .naviSelect {
    display: none;
}
.cabHeader .deposit .btnRed a {
    font-size: 16px;
    line-height: 65px;
    font-weight: bold;
    font-family: monda;
    padding-left: 32px;
    color: #ffffff;
    text-decoration: none;
}

.cabHeader .deposit .btnRed {
    display: block;
    position: relative;
    width: 199px;
    height: 65px;
    background-color: #e0186c;
    border: none;
}
.cabHeader .deposit .btnRed::before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-right: 20px solid #e0186c;
    border-top: 32px solid transparent;
    border-bottom: 33px solid transparent;
}
.cabHeader .deposit .btnRed::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #e0186c;
    border-top: 32px solid transparent;
    border-bottom: 33px solid transparent;
}
.cabHeader .deposit .btnBlue a {
    font-size: 16px;
    line-height: 65px;
    font-weight: bold;
    font-family: monda;
    padding-left: 32px;
    color: #ffffff;
    text-decoration: none;
}
.cabHeader .deposit .btnBlue {
    display: block;
    position: relative;
    width: 199px;
    height: 65px;
    background-color: #003ead;
    border: none;
}
.cabHeader .deposit .btnBlue .icon-34 {
    position: absolute;
    left: 10px;
    top: 25px;
}
.cabHeader .deposit .btnBlue .icon-50 {
    position: absolute;
    z-index: 0;
    right: 145px;
    color: #3667be;
}
.cabHeader .deposit .btnBlue::before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-right: 20px solid #003ead;
    border-top: 32px solid transparent;
    border-bottom: 33px solid transparent;
}
.cabHeader .deposit .btnBlue::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #003ead;
    border-top: 32px solid transparent;
    border-bottom: 33px solid transparent;
}
.leftBlock {
    float: left;
    width: 205px;
    height: 1200px;
}
.rightBlock {
    float: right;
    width: calc(100% - 205px);
}
.navi [class*="icon"]  {
    color: #89b4f4;
    display: block;
    text-align: center;
    margin-bottom: -35px;
    font-size: 20px;
    line-height: 50px;
}
.navi a {
    font-size: 14px;
    line-height: 80px;
    text-decoration: none;
    color: #ffffff;

}
.navi {
    padding-top: 25px;
}
.navi li {
    text-align: center;
    border-bottom: 1px solid #325088;
}
.navi li+li {
    margin-top: 20px;
}
.navigation .copyright {
    font-size: 13px;
    line-height: 30px;
    color: #96c2ff;
    padding-top: 395px;
    text-align: center;
}
.rightBlock .cabHeader .upBlock {
    padding-top: 45px;
    padding-bottom: 39px;
}
.rightBlock .cabHeader .upBlock .control a {
    display: inline-block;
}
.rightBlock .cabHeader .upBlock .socBlock {
    float: right;
    margin-right: 100px;
    margin-top: -20px;
}
.rightBlock .cabHeader .upBlock .socBlock a{
    color: #ffffff;
    text-decoration: none;
    margin-right: 42px;
    position: relative;
    z-index: 1;
}
.rightBlock .cabHeader .upBlock .socBlock a .icon-50 {
    position: absolute;
    z-index: -2;
    color: #2f7bde;
    width: 26px;
    height: 38px;
    margin-top: -7px;
    margin-right: 22px;
    font-size: 41px;
}
.rightBlock .cabHeader .upBlock {
    background-color: #00256a;
}


.control2 a {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.rightBlock .cabHeader .control2 li {
    display: inline-block;
    padding-top: 20px;
}
.rightBlock .cabHeader .control2 li {
    margin-left: 50px;
}
.userBlock .user .infoUser  span:nth-child(1) {
    font-size: 14px;
    line-height: 18px;
    color: #012c7a;
}
.userBlock .user .infoUser  span:nth-child(2) {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #012c7a;
}
.cabHeader .userBlock .user {
    position: relative;
    background-color: #f3f7ff;
    width: 520px;
    height: 65px;
    box-shadow: 21px 0 21px 0 rgba(136, 163, 221, 0.33);
    background-image: url(../img/png/userFoto.png);
    background-repeat: no-repeat;
    background-position: left;
}
.cabHeader .userBlock .user::before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-right: 23px solid #f3f7ff;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
}
.rightBlock .cabHeader .upBlock .control {
    margin-left: 135px;
}
.cabHeader .userBlock .user::after {
    content: "";
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-left: 23px solid #f3f7ff;
    border-top: 34px solid transparent;
    border-bottom: 34px solid transparent;
}
.cabHeader .userBlock .user .infoUser {
    padding-top: 17px;
    padding-left: 55px;
}
.btnBlue a {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;

    color: #ffffff;
    text-decoration: none;
}
.btnBlue {
    display: block;
    text-align: center;
    position: relative;
    width: 168px;
    height: 53px;
    background-color: #2f7bde;
    border: none;
}

.icon-33 {
    color: #de1c6e;
    font-size: 35px;
    margin-left: 80px;
    margin-right: 20px;
    vertical-align: middle;
}
.userBlock .deposit {
    background-color: #f3f7ff;
}
.deposit .balance span:nth-child(1) {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.3em;
    color: #0349c6;
}
.deposit .balance span:nth-child(2) {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #0349c6;
}
.deposit .balance span{
    padding-right: 80px;
    padding-left: 0;
}
.deposit{
    float: right;
    margin-top: -65px;
    margin-right: 170px;
}
.rightBlock .cabHeader .fonUserBlock .userBlock {
    padding-top: 33px;
    padding-left: 155px;
    padding-bottom: 35px;
}
.cabHeader .infoCost [class*="icon"] {
    font-size: 30px;
    color: #012c7a;
}
.cabHeader .infoCost .cost .sum span:nth-child(odd) {
     font-size: 14px;
     line-height: 18px;
     color: #012c7a;
 }
.cabHeader .infoCost .cost .sum span:nth-child(2) {
     font-size: 16px;
     line-height: 18px;
     font-weight: bold;
     color: #2f7bde;
 }
.cabHeader .infoCost .cost .sum span:nth-child(4) {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #de1c6e;
}
.rightBlock .cabHeader .fonUserBlock {
    background-color: #eaeff9;
}
.cost li {
    display: inline-block;
    position: relative;
    margin-left: 210px;
    padding-bottom: 46px;
}
.infoCost .cost [class*="icon-40"] {
    font-size: 35px;
    left: -75px;
    top: 15px;
    z-index: 1;
}
.infoCost .cost [class*="icon-39"] {
    font-size: 35px;
    left: -75px;
    top: 15px;
    z-index: 1;
}
.infoCost .cost [class*="icon-15"] {
    font-size: 35px;
    left: -75px;
    top: 15px;
    z-index: 1;
}
.infoCost .cost [class*="icon-16"] {
    font-size: 35px;
    left: -75px;
    top: 15px;
    z-index: 1;
}
.infoCost .cost [class*="icon-17"] {
    font-size: 35px;
    left: -75px;
    top: 15px;
    z-index: 1;
}
.infoCost .cost .sum span {
    display: block;
}
.cabHeader .infoCost .cost .icon-50 {
    z-index: 0;
    color: #ffffff;
    font-size: 67px;
    top: 2px;
    left: -90px;
    filter: drop-shadow(21px 21px 21px rgba(136, 163, 221, 0.33));
}
.rightBlock .cabHeader .userBlock .user .infoUser li span {
    display: block;
}
.rightBlock .cabHeader .userBlock .user .infoUser li {
    float: left;
    margin-left: 40px;
}

.rightBlock .cabHeader .deposit .balance span {
    display: block;
}
.rightBlock .cabHeader .deposit div {
    display: inline-block;
    vertical-align: middle;
}
.rightBlock .content2 [class*="icon"] {
    color: #de1c6e;
    font-size: 40px;
}
.blockTitle span:nth-child(1) {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.3em;
    color: #0349c6;
}
.blockTitle span:nth-child(2) {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #0349c6;
}
.rightBlock .content2  {
    background-color: #d6dff2;
}
.content2 .referral2 {
    width: 680px;
    height: 245px;
    background-color: #ffffff;
    margin-left: 157px;
}
.content2 .blockTitle span {
    display: block;
    margin-left: 20px;
}
.content2 .title div {
    display: inline-block;
    margin-top: 44px;
}
.content2 .title {
    margin-left: 35px;
}
.content2 .referral2 .inputBlock1 {
    margin-top: 40px;
    margin-left: 105px;
}
.content2 .referral2 input {
    width: 472px;
    height: 54px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.025em;
    color: #012c7a;
    border: 1px solid #cfdaf1;
    background-color: #eaeff9;
}
.content2 .upline {
    width: 680px;
    height: 245px;
    background-color: #ffffff;
    margin-left: 43px;

}
.upline .user span {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    font-weight: bold;
    margin-left: 20px;
}
.upline .user a {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    text-decoration: none;
    margin-left: 20px;
}
.upline .nameUser a  {
    display: block;
}
.upline .user div {
    display: inline-block;
}
.upline .user {
    margin-top: 40px;
    margin-left: 123px;
}
.content2 .text .summ {
    display: table;
    width: 470px;
    height: 120px;

}
.content2 .text .summ {
    margin-left: 100px;
}
.content2 .text .summ li span+span {
    text-align: right;
}
.content2 .text .summ li {
    display: table-row;
    height: 35px;
}
.content2 .text .summ li span {
    display: table-cell;
    vertical-align: middle;
}
.content2 .text .summ li+li {
    background-image: url(../img/png/border.png);
    background-repeat: repeat-x;
    background-position: left top;
}
.content2 .invest {
    width: 680px;
    height: 245px;
    background-color: #ffffff;
    margin-left: 157px;
    margin-top: 40px;

}
.content2 .withdrawal {
    width: 680px;
    height: 245px;
    background-color: #ffffff;
    margin-left: 43px;
    margin-top: 40px;
    margin-bottom: 120px;
}
.rightBlock .content2 .text .summ span:nth-child(1) {
    font-size: 16px;
    line-height: 50px;
    color: #012c7a;
}
.rightBlock .content2 .text .summ span:nth-child(2) {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: #2f7bde;
}
.content2>div {
    float: left;
}
.content2 h1 {
    padding-top: 20px;
    padding-left: 157px;
    padding-bottom: 60px;
}
.navigation {
    background-color: #00256b;
}
.btnRed .icon-50::before{
    animation: circleFill 2.2s infinite ease-in-out;
}

@keyframes circleFill  {
    0%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        color: #e0186c;
    }
    50%{
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        color: #e43981;
    }
    100%{
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        color: #e0186c;
    }
}
