* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family: "Brutal Type";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.bodyWrap {
    overflow: hidden;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}
.invisLink {
    position: relative;
    z-index: 1;
}

header {
    position: relative;
    z-index: 1;
}
.content .home {
    position: relative;
    z-index: 1;
}
header .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 985px;
    background-position: center;
    background-repeat: no-repeat;
}

header .time>span {
    font-size: 35px;
    line-height: 35px;
    font-weight: bold;
    color: #ffffff;
}
header .time [class*="icon"] {
    font-size: 22px;
}
header .time .date {
    display: inline-block;
}
header .date span:first-child {
    display: block;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
}
header .date span:last-child {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #ffffff;
}
header .register {
    width: 240px;
    float: right;
    /*margin-top: 15px;*/
}
header .time {
    width: 295px;
    float: right;
    /*margin-top: 25px;*/
}
header .logo {
    /*margin-top: 25px;*/
}

header .register li {
    display: inline-block;
}

header .register [class*="icon"] {
    font-size: 13px;
    line-height: 13px;
    color: #89b4f4;
}
header .register a {
    font-size: 13px;
    line-height: 13px;
    color: #ffffff;
}
header .logo {
    position: relative;
    padding-left: 65px;
    width: 225px;
    float: left;
}
header .logo img {
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -25px;
    width: 55px;
    height: 50px;
}
.invisLink>a {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
.content {
    z-index: 1;
}
.logoText {
    font-size: 37px;
    font-weight: bold;
    color: #ffffff;
}
.logoText2 {
    font-size: 13px;
    /*line-height: 84px;*/
    letter-spacing: 0.33em;
    color: #ffffff;
}
header .logo .txt span {
    display: block;
}
header .topLine .time{
    width: 320px;
}
header .topLine {
    padding-top: 51px;
}

.control a {
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}
.content .home .socBlock span {
    font-size: 19px;
    line-height: 19px;
    font-weight: bold;
    color: #2f7bde;
}
.control li {
    display: inline-block;
<<<<<<< HEAD
    margin-top: 75px;
=======
    margin-right: 70px;
    padding-top: 20px;
>>>>>>> 6a00630ac1f69f48c4e1604a91f4fbcf18eb5b25
}
.control li+li {
    margin-left: 74px;
}
.captionWhite1 {
    font-size: 133px;
    line-height: 100px;
    font-weight: bold;
    color: #ffffff;
}
.home .infoBlock {
    margin-top: 100px;
}

.captionWhite1 span {
    font-size: 70px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 35px;
}
.infoCompany .left {
    width: 425px;
    float: left;
}
.infoCompany .right {
    width: calc(100% - 425px);
    float: right;
}
.infoBlock p {
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    color: #96c2ff;
    margin-top: 70px;
}
.btnRed {
    font-size: 13px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 230px;
    height: 65px;
    background-color: #e0186c;
    text-decoration: none;
    border: none;
}
.right h3 {
    font-size: 50px;
    line-height: 50px;
    color: #d9e1f4;
}
.content .home .infoCost {
    margin-left: 250px;
}
.infoCost .infoCost span {
    display: block;
}
.infoCost .infoCost li {
    float: left;
    position: relative;
    margin-right: 100px;
}
.infoCost li div [class*="icon"] {
    position: absolute;
    font-size: 40px;
    top: 30px;
    left: -50px;
}

.infoCost .styleCost  {
    font-size: 30px;
    color: #012c7a;
}
.infoCost .btc {
    font-size: 16px;
    line-height: 33px;
    color: #012c7a;
}
.infoCost .sum {
    font-size: 20px;
    line-height: 33px;
    font-weight: bold;
    color: #012c7a;
}
.infoCost .proc {
    font-size: 16px;
    line-height: 33px;
    font-weight: bold;
    color: #4194ff;
}
.icon-21 {
    font-size: 13px;
    line-height: 33px;
    font-weight: bold;
    color: #4194ff;
}
/*БЛОК ABOUTUS*/
.aboutUs {
    background-color: #eaeff9;
    position: relative;
    z-index: -1;
}
.infoCompany {
    margin-top: 285px;
}
.infoCompany .link a {
    font-size: 16px;
    line-height: 110px;
    font-weight: bold;
    text-decoration: none;
    color: #0349c6;
}
.moreInfo a {
    font-size: 16px;
    line-height: 53px;
    font-weight: bold;
    color: #ffffff;
    width: 200px;
    background-color: #2f7bde;
    text-decoration: none;
    border: none;
}
.captionBlue {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #0349c6;
}
.text1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #012c7a;
    margin-top: 50px;
}
.text2 {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    margin-top: 50px;
}
.aboutUs {
    padding-bottom: 300px;
}
/*СТРАНИЦА ИНВЕСТ ПЛАН*/
.content .investPlan {
    position: relative;
    z-index: 2;
}
.content .investPlan .backImg {
    position: absolute;
    z-index: -2;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1122px;
    top: -180px;
    background-position: center;
    background-repeat: no-repeat;
}
.investPlan .plans .plan {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: #0349c6;
}
.investPlan .plans .daily {
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
    color: #e0186c;
}
.investPlan .plans .days {
    font-size: 13px;
    line-height: 24px;
    color: #e0186c;
}
.investPlan .plans a {
    text-decoration: none;
}
.investPlan .plans .text span {
    display: block;
}
.investPlan .plans {
    width: 1075px;
    padding-left: 100px;
}
.investPlan .plans li {
    float: left;
    padding-left: 20px;
    width: 33.3333%;
    position: relative;
}
.investPlan .plans li [class*="icon"] {
    font-size: 45px;
    display: block;
    position: absolute;
    top: 20px;
    left: -38px;
}
.investPlan {
    position: relative;
}
.investPlan .plans {
    position: absolute;
    top: -60px;
}
.captionWhite {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 445px;
}
.royalPlan .captionWhite {
    padding-top: 150px;
}
.royalPlan .profit {
    padding-left: 65px;
    padding-top: 110px;
}
.royalPlan .part1 .a1 {
    font-size: 15px;
    line-height: 50px;
    font-weight: 300;
    color: #96c2ff;
}
.royalPlan .part1 .a2 {
    font-size: 15px;
    line-height: 50px;
    font-weight: bold;
    color: #ffffff;
}
.royalPlan .profit .a3 {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    color: #ffffff;
}
.royalPlan .profit .a4 {
    font-size: 27px;
    line-height: 33px;
    font-weight: bold;
    color: #2b7fed;
}
.royalPlan .profit .part1>span {
    display: block;
}
.royalPlan .profit .part2>span {
    display: block;
}
.royalPlan .profit .part3>span {
    display: block;
}
.royalPlan .profit .part4>span {
    display: block;
}
.profit .part2 span:nth-child(4) {
    color: #ffffff;
}
.royalPlan .profit .a5 {
    font-size: 15px;
    line-height: 33px;
    font-weight: 300;
    color: #96c2ff;
}
.royalPlan .profit .a6 {
    font-size: 90px;
    line-height: 90px;
    font-weight: bold;
    color: #e0186c;
}
.royalPlan .profit .a7 {
    font-size: 90px;
    line-height: 90px;
    font-weight: bold;
    color: #2b7fed;
}
.royalPlan .profit div {
    display: inline-block;
    margin-right: 60px;

}
.calculator label {
    font-size: 15px;
    line-height: 84px;
    display: block;
    color: #96c2ff;
}

.investPlan .summ span {
    font-size: 50px;
    line-height: 55px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 480px;
}
.content .investPlan .royalPlan {
    position: relative;
}
.content .investPlan .royalPlan .backImg {
    position: absolute;
    width: 1200px;
    height: 210px;
    top: 280px;
    left: 900px;
}
.investPlan .valueRangeBlock {
    margin-left: 500px;

}
.calculator .calc {
    margin: 80px 400px;
}
.calculator .calc .inputBlock2 {
    float: left;
    margin-right: 30px;
    text-align: center;

}
.royalPlan .btnRed {
    margin: 0px auto;

}
.left h3 {
    font-size: 50px;
    line-height: 84px;
    font-weight: bold;
    color: #d9e1f4;
}
.videoPage {
    position: relative;
    z-index: 1;
    color: #91a8ce;
    width: 1920px;
    height: 1325px;
}
.videoPage .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1325px;
    top: -85px;
    background-position: center;
    background-repeat: no-repeat;
}
.statistics {
    position: relative;
    z-index: 1;
}
.statistics .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 680px;
    top: -135px;
    background-position: center;
    background-repeat: no-repeat;
}
.statList .a1 {
    font-size: 25px;
    line-height: 34px;
    font-weight: bold;
    color: #061046;
}
.statList .a2 {
    font-size: 45px;
    line-height: 20px;
    font-weight: bold;
    color: #0349c6;
}
.statList .a3 {
    font-size: 45px;
    line-height: 20px;
    font-weight: bold;
    color: #4194ff;
}
.statList .a4 {
    font-size: 45px;
    line-height: 20px;
    font-weight: bold;
    color: #de1c6e;
}
.statList .icon-20 {
    color: #1153c9;
}
#icon20Blue {
    color: #4194ff;
}
#icon20Red {
    color: #de1c6e;
}
.statistics .statList span {
    display: block;
}
.statistics .statList1 li {
    display: inline-block;
    margin-left: 80px;
}
.statistics .statList1 {
    padding-left: 15px;
    padding-top: 15px;
}
.statistics .statList2 li {
    display: inline-block;
    margin-left: 80px;
    margin-bottom: 90px;
}
.statistics .statList2 {
    padding-left: 515px;
    padding-top: 40px;
}
.statList1 .icon-20 {
    margin-left: 40px;
}
.statistics .statList span+span {
     margin-top:  63px;
 }
.users {
    background-color: #eaeff9;
<<<<<<< HEAD
=======
    width: 1920px;
    height: 930px;
    position: relative;
    z-index: 1;
>>>>>>> 6a00630ac1f69f48c4e1604a91f4fbcf18eb5b25
}
.usersBlock .user {
    width: 50%;
    float: left;
}
.usersBlock .user .user1 {
    display: table;
    width: 100%;
}
.usersBlock .user .user1 li {
    display: table-row;
    height: 55px;
}
.usersBlock .user .user1 li span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.users .moreInfo {
    margin: 0px auto;
    width: 190px;
    text-align: center;
}

.usersBlock .user span:nth-child(1) {
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
    color: #061046;
}
.usersBlock .user span:nth-child(2) {
    font-size: 14px;
    line-height: 50px;
    color: #91a8ce;
}
.usersBlock .user .user1 span:nth-child(4) {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: #4194ff;
}
.usersBlock .user .user2 span:nth-child(4) {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: #e0186c;
}
.icon-22 {
    color: #de1c6e;
}

.referral {
    position: relative;
    z-index: 1;
}
.referral .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 770px;
    top: -70px;
    background-position: center;
    background-repeat: no-repeat;
    top: -70px;
}

.referral .info p {
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    color: #ffffff;
}
.referral .rate p {
    font-size: 16px;
    line-height: 30px;
    color: #70aeff;
}
.referral .rate span {
    font-size: 120px;
    line-height: 84px;
    font-weight: bold;
    color: #70aeff;
}
.referral .rate li{
    float: left;
    margin-left: 40px;
}
.content .news {
    position: relative;
    z-index: 1;
}
.content .news .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
}

.news h3 a {
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    color: #061046;
    text-decoration: none;
}
.icon-23 {
    color: #e0186c;
}
.news .newsBlock .news span:nth-child(3) {
    font-size: 13px;
    line-height: 84px;
    color: #739cdd;
}
.news p {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
}
.partners {
    background-color: #eaeff9;
}
.partners .logo .logo li {
    display: table-cell;
    height: 180px;
    text-align: center;
    vertical-align: middle;
}
.contact .leftFooter span {
    display: block;
}
.contact .rightFooter span{
    display: block;
}
footer {
    position: relative;
    z-index: 1;
}
footer .backImg {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
}
footer .contact>div {
    display: table-cell;
    width: 1920px;
    vertical-align: middle;
}
footer .leftFooter {
    text-align: left;
    padding-top: 97px;
}
footer .rightFooter {
    text-align: right;
}
footer .contact .logo .txt span {
    display: block;
}
footer .contact .logo .txt {
    margin-top: 60px;
}
footer .logo {
    text-align: center;
    position: relative;
}
footer .logo img {
    position: absolute;
    top: 15px;
    right: 150px;
}

footer .contact a {
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
footer .contact .leftFooter span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
}
footer .contact .rightFooter span {
    font-size: 16px;
    line-height: 30px;
    color: #96c2ff;
}
footer .copyright p {
    font-size: 15px;
    line-height: 30px;
    color: #96c2ff;
    padding-top: 55px;
}

footer .contact {
    display: block;
}
/*ВТОРАЯ СТРАНИЦА ДИПЛОМНОГО ПРОЕКТА*/
.leftBlock {
    float: left;
    width: 205px;
    height: 1200px;
}
.rightBlock {
    float: right;
    width: calc(100% - 205px);
}
.navi [class*="icon"]  {
    color: #89b4f4;
    display: block;
    text-align: center;
    margin-bottom: -30px;
    font-size: 20px;
}
.navi a {
    font-size: 14px;
    line-height: 120px;
    text-decoration: none;
    color: #ffffff;
}
.navi {
    padding-top: 25px;
}
.navi li {
    text-align: center;
}
.navigation .copyright {
    font-size: 13px;
    line-height: 30px;
    color: #96c2ff;
    padding-top: 445px;
    text-align: center;
}
.rightBlock .cabHeader .upBlock {
    padding-top: 45px;
}
.rightBlock .cabHeader .upBlock .control a {
    display: inline-block;
}
.rightBlock .cabHeader .upBlock .socBlock {
    float: right;
}
.rightBlock .cabHeader .upBlock .socBlock span {
    color: #ffffff;
    text-decoration: none;
}
.rightBlock .cabHeader .upBlock {
    background-color: #00256a;
}
.rightBlock .cabHeader .control li+li {
    margin-left: 50px;
}
.userBlock .user .infoUser  span:nth-child(1) {
    font-size: 14px;
    line-height: 18px;
    color: #012c7a;
}
.userBlock .user .infoUser  span:nth-child(2) {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #012c7a;
}
.cabHeader .userBlock .user {
    background-color: #f3f7ff;
}
.btnBlue {
    font-size: 16px;
    line-height: 60px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    width: 240px;
    height: 65px;
    background-color: #003ead;
    text-decoration: none;
    border: none;
}
.icon-33 {
    color: #de1c6e;
    font-size: 35px;
}
.deposit .balance span:nth-child(1) {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.3em;
    color: #0349c6;
}
.deposit .balance span:nth-child(2) {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #0349c6;
}
.cabHeader .infoCost [class*="icon"] {
    font-size: 30px;
    color: #012c7a;
}
.cabHeader .infoCost .cost .sum span:nth-child(odd) {
     font-size: 14px;
     line-height: 18px;
     color: #012c7a;
 }
.cabHeader .infoCost .cost .sum span:nth-child(2) {
     font-size: 16px;
     line-height: 18px;
     font-weight: bold;
     color: #2f7bde;
 }
.cabHeader .infoCost .cost .sum span:nth-child(4) {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #de1c6e;
}
.rightBlock .cabHeader .infoCost {
    background-color: #eaeff9;
}
.cost li {
    display: inline-block;
    position: relative;
    margin-left: 100px;
}
.infoCost .cost [class*="icon"] {
    font-size: 30px;
    left: -55px;
    top: 20px;
}
.infoCost .cost .sum span {
    display: block;
}

.rightBlock .cabHeader .userBlock .user .infoUser li span {
    display: block;
}
.rightBlock .cabHeader .userBlock .user .infoUser li {
    float: left;
    margin-left: 40px;
}

.rightBlock .cabHeader .deposit .balance span {
    display: block;
}
.rightBlock .cabHeader .deposit div {
    display: inline-block;
}
.rightBlock .content2 [class*="icon"] {
    color: #de1c6e;
    font-size: 40px;
}
.blockTitle span:nth-child(1) {
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.3em;
    color: #0349c6;
}
.blockTitle span:nth-child(2) {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    color: #0349c6;
}
.rightBlock .content2  {
    background-color: #d6dff2;
}
.content2 .referral2 {
    width: 680px;
    height: 245px;
    background-color: #ffffff;
}
.content2 .blockTitle span {
    display: block;
    margin-left: 20px;
}
.content2 .title div {
    display: inline-block;
    margin-top: 44px;
}
.content2 .title {
    margin-left: 35px;
}
.content2 .referral2 .inputBlock1 {
    margin-top: 40px;
    margin-left: 105px;
}
.content2 .upline {
    width: 680px;
    height: 245px;
    background-color: #ffffff;

}
.upline .user span {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    font-weight: bold;
    margin-left: 20px;
}
.upline .user a {
    font-size: 16px;
    line-height: 30px;
    color: #012c7a;
    text-decoration: none;
    margin-left: 20px;
}
.upline .nameUser a  {
    display: block;
}
.upline .user div {
    display: inline-block;
}
.upline .user {
    margin-top: 40px;
}
.content2 .text .summ {
    display: table;
    width: 470px;
    height: 120px;
    margin-top: 15px;

}
.content2 .text .summ li {
    display: table-row;
    height: 35px;
}
.content2 .text .summ li span {
    display: table-cell;
    vertical-align: middle;
}
.content2 .invest {
    width: 680px;
    height: 245px;
    background-color: #ffffff;

}
.content2 .withdrawal {
    width: 680px;
    height: 245px;
    background-color: #ffffff;
}
.rightBlock .content2 .text .summ span:nth-child(1) {
    font-size: 16px;
    line-height: 50px;
    color: #012c7a;
}
.rightBlock .content2 .text .summ span:nth-child(2) {
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
    color: #2f7bde;
}

.navigation {
    background-color: #00256b;
}

